# macOS specific
.DS_Store

# LaTeX build artifacts
*.aux
*.fdb_latexlab
*.fls
*.log
*.out
*.synctex.gz
missfont.log
resume.fdb_latexmk

# Temporary directories
.texpadtmp/
Tmp/

# Build directory
build/
# But not the final resume PDF
!build/resume.pdf
